@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(65, 161, 140);
    
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
    color: white;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    

}
nav{
    width:inherit;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(32, 31, 31);
    z-index: 99;
}
.search-bar{
    list-style-type: none;
}
.search-bar li{
    display: inline-block;
}
.logo{
    font-size: 1.2rem;
    text-transform: uppercase;
}
#searchTxt{
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(148, 148, 148);
    padding: 10px;
    background:transparent;
    color: white;
}
#searchBtn{
    padding: 10px 30px;
    margin-left: 0.5rem;
    background: transparent;
    border: 1px solid rgb(65, 161, 140);
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.container{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin: 1rem auto;
    background: rgba( 165, 160, 160, 0.25 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
/* border-radius: 10px; */
}
#addTitle{
    background:transparent;
    outline: none;
    font-size: 1.2rem;
    border: none;
    border: 1px solid gray;
    padding: 5px;
    color: white;
    text-align: center;
    width: 50%;
}

h3{
margin: 1rem 0;
}
textarea{
    padding: 10px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: 1px solid gray;
    background: transparent;
    color: white;
    width: 90%;
}
textarea:focus{
    border: 1px solid rgb(24, 125, 158);
}
#addBtn{
    padding: 10px 30px;
    background-color: rgb(65, 161, 140); 
    border: none;
    outline: none;
    margin: 1rem 0;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}
h4{
    font-size: 1.5rem ;
    margin: 1rem;
}
#notes-container{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
}
.card{
    width: 25%;
    padding: 10px 15px;
    background: rgba( 181, 176, 176, 0.25 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    margin:1rem;
    border-radius: 10px;
}
.deletenote{
    padding: 5px 20px;
    background-color: rgb(65, 161, 140);
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
}
.title{
    font-size: 1.3rem;
    font-weight: 900;
    margin: 15px 0;
    color: rgb(65, 161, 140);
}
#remove-all{
    padding: 10px 30px;
    background-color: rgb(65, 161, 140); 
    border: none;
    outline: none;
    margin: 1rem 0;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;

}
@media screen and (max-width:480px) {
    .container{
        width: 100%;
    }
    #notes-container{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .logo{
        display: none;
    }
    .card{
        width: 100%;
        padding: 5px 10px;
        border-radius: none;
    }
}
@media screen and (min-width:480px) and (max-width:760px){
    .card{
        width: 100%;
        padding: 5px 10px;
        border-radius: none;
    }
}